:root {
    --green:#00ff00;
    --white:#ffffff;
    --black:#000000;
}

body {

    background-color: yellowgreen ;
    color: blueviolet;


}


section {
    background-color: yellow;
    font-size: helvetica; 
    
}

img {
    width: 200px;
    height: 200px;
    
}